In [4]:
## We want to compare the performance of boys and girls among different indicators using the mean value from 2000 to 2015. 

import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np

df = pd.read_csv("PISA2015-forStage2.csv", skiprows = 2)
df.shape

(32, 9)

In [6]:
df.head()

,Jurisdiction,Region,"Averages for PISA mathematics scale: overall mathematics, age 15 years","Averages for PISA reading scale: overall reading, age 15 years","Averages for PISA science scale: overall science, age 15 years","Averages for index mother occupational status, age 15 years","Averages for index father occupational status, age 15 years","Averages for student-teacher ratio, age 15 years","Averages for index proportion of all teachers isced level 5a master, age 15 years"
0,Australia,Oceania,494,503,510,52,46,13,0.13
1,Austria,Europe,497,485,495,45,45,12,0.58
2,Belgium,Europe,507,499,502,47,46,9,0.38
3,Canada,Americas,516,527,528,53,48,16,0.17
4,Chile,Americas,423,459,447,40,41,21,0.09
5,Czech Republic,Europe,492,487,493,43,40,13,0.87
6,Denmark,Europe,511,500,502,52,49,13,0.05
7,Estonia,Europe,520,519,534,47,43,12,0.75
8,Finland,Europe,511,526,531,46,45,10,0.91
9,France,Europe,493,499,495,46,45,12,0.40
10,Germany,Europe,506,509,509,45,45,15,0.82
11,Greece,Europe,454,467,455,48,43,10,0.17
12,Hungary,Europe,477,470,477,44,40,10,0.68
13,Iceland,Europe,488,482,473,55,49,10,0.09
14,Ireland,Europe,504,521,503,48,44,14,0.21
15,Israel,Asia,470,479,467,58,52,12,0.37
16,Korea,Asia,524,517,516,47,46,15,0.35
17,Latvia,Europe,482,488,490,47,41,10,0.53
18,Luxembourg,Europe,486,481,483,42,45,10,0.79
19,Mexico,Americas,408,423,416,39,36,28,0.21
20,Netherlands,Europe,512,503,509,45,49,20,0.18
21,New Zealand,Oceania,495,509,513,52,48,15,0.15
22,Poland,Europe,504,506,501,43,36,9,0.94
23,Portugal,Europe,492,498,501,42,44,11,0.10
24,Slovak Republic,Europe,475,453,461,44,40,13,0.93
25,Slovenia,Europe,510,505,513,47,43,11,0.07
26,Spain,Europe,486,496,493,43,42,13,0.23
27,Sweden,Europe,494,500,493,53,49,11,0.45
28,Switzerland,Europe,521,492,506,45,48,12,0.61
29,Turkey,Asia,420,428,425,40,35,15,0.13
30,United Kingdom,Europe,492,498,509,51,51,15,0.15
31,United States,Americas,470,497,496,50,44,16,0.50

In [ ]:
# extract all columns except for 'MEASURE' and 'FREQUENCY'
df = df.iloc[:, [0, 1, 2, 5, 6]]
# get rid of rows with 'TOT' subject
df = df[df['SUBJECT'] != "TOT"]

# get list of variable categories of indicator and location
indicators = list(df["INDICATOR"].unique())
locations = list(df['"LOCATION"'].unique())

df.head()

boy_mean = []
girl_mean = []
locs = []
indis = []
diff = []
for i in range(len(indicators)):
    # extract rows with same indicator
    indicator_df = df[df["INDICATOR"] == indicators[i]]
    
    d = {}
    for location in locations:
        # extract rows of each location, then group all rows by 'subject'
        # calculate mean value over years for different subject
        # map mean_value to subject in a sub-dictionary
        # map every sub-dictionary for different location to each location
        d[location] = indicator_df[indicator_df['"LOCATION"'] == location].groupby("SUBJECT")["Value"].mean().to_dict()
    
    # loop through dictionary to get lists of boys' average performance and girls'
    
    for loc, subj_perform in d.items():
        indis.append(indicators[i])
        locs.append(loc)
        for subj, perform in subj_perform.items():
            if subj == "BOY":
                boy_mean.append(perform)
            else:
                girl_mean.append(perform)

for i in range(len(boy_mean)):
    diff.append(abs(boy_mean[i] - girl_mean[i]))
                
# create a new data frame with 4 columns: indicator, location, boy's mean_value & girl's mean_value
location_value = pd.DataFrame({"INDICATOR": indis, "LOCATION": locs, "BOY": boy_mean, "GIRL": girl_mean, "DIFF": diff})

location_value.head()

fig = plt.figure(figsize = (30, 30))
titles = ["PISA - Read", "PISA - Math", "PISA - Science"] # titles of 3 subplots
t_list = []
p_list = []
for i in range(len(indicators)):
    # extract rows with same indicator
    indicator_df = location_value[location_value["INDICATOR"] == indicators[i]]
    
    x = indicator_df["LOCATION"]
    y1 = indicator_df["BOY"]
    y2 = indicator_df["GIRL"]
    x0 = list(range(len(locations)))
    
    ax = fig.add_subplot(3, 1, i + 1) # draw 3 subplots in 1 columns
    
    # draw subplot and set parameters
    ax.bar(x0, y1, width = 0.2, label = "Boy")
    for j in range(len(x0)):
        x0[j] += 0.2
    ax.bar(x0, y2, width = 0.2, label = "Girl", tick_label = x)
    ax.set_xlabel("Location", fontsize = 15)
    ax.set_ylabel("Value", fontsize = 15)
    ax.set_title(titles[i], fontsize = 15)
    ax.legend(loc = 2)
    
    (t_stats, p_value) = stats.ttest_ind(y1, y2)
    
    t_list.append(t_stats)
    p_list.append(p_value)

fig.suptitle("Boy's average performance vs Girl's average performance by different inidcators", fontsize = 18, y = 0.915)
fig.text(0.15, 0.64, ("t-statistic: " + str(t_list[0])), fontsize = 14)
fig.text(0.15, 0.63, ("p-value: " + str(p_list[0])), fontsize = 14)
fig.text(0.15, 0.37, ("t-statistic: " + str(t_list[1])), fontsize = 14)
fig.text(0.15, 0.36, ("p-value: " + str(p_list[1])), fontsize = 14)
fig.text(0.15, 0.11, ("t-statistic: " + str(t_list[2])), fontsize = 14)
fig.text(0.15, 0.10, ("p-value: " + str(p_list[2])), fontsize = 14)

We want to figure out whether there is a connection between the difference of between boys and girls & the overall performance of location. We manually set the high performance level to be 500 and low performance level to be 450.  

fig = plt.figure(figsize = (32, 30))
titles = ["PISA - Read", "PISA - Math", "PISA - Science"] # titles of 3 subplots
for i in range(len(indicators)):
    # extract rows with same indicator
    indicator_df = location_value[location_value["INDICATOR"] == indicators[i]]
    
    # get high performance locations
    high_perf = indicator_df[indicator_df["BOY"] >= 500]
    high_perf = high_perf[high_perf["GIRL"] >= 500]
    
    # get low performance locations
    low_perf = indicator_df[indicator_df["BOY"] <= 450]
    low_perf = low_perf[low_perf["GIRL"] <= 450]
    
    # draw 6 subplots in 3 rows & 2 columns
    ax1 = fig.add_subplot(6, 2, 2*i + 1)
    x1 = high_perf['LOCATION']
    y1 = high_perf["DIFF"]
    ax1.bar(x1, y1, color = 'lightskyblue')
    plt.axhline(np.mean(y1), color = "palegreen")
    ax1.set_title(titles[i])
    ax1.set_xlabel("High-Performance Location")
    ax1.set_ylabel("Difference of performance")
    
    ax2 = fig.add_subplot(6, 2, 2 * (i + 1))
    x2 = low_perf['LOCATION']
    y2 = low_perf["DIFF"]
    ax2.bar(x2, y2, color = 'pink')
    plt.axhline(np.mean(y2), color = "orange")
    ax2.set_title(titles[i])
    ax2.set_xlabel("Low-Performance Location")
    ax2.set_ylabel("Difference of performance")